@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 150%;

    background-color: #fff;
    color: #111;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.search-panel {
    @apply py-1 px-3 rounded-2xl transition-colors bg-gray-100 hover:bg-gray-200 border border-gray-200;
}
